body { /* Phần thân của trang web */
    background-color: #0d1117;
}

p { /* Đoạn văn bản */
    color: white;
    font-family: 'Consolas';
}

h1, h2, h3, h4, h5, h6 { /* Đề mục */
    display: block;
    color: white;
    font-family: 'Consolas';
    font-weight: bold;
}

strong { /* Highlight phần quan trọng */
    color: red;
    font-family: 'Consolas';
    background-color: #ffcccc;
}
